.container
  %h2 AllBoards
  - @boards.each do |board|
    = link_to board_path(board) do
      .card
        - if user_signed_in? && current_user.has_written?(board)
          .board_detail_actions
            .dropdown
              = image_tag 'Combined Shape.png', class: 'dropbtn'
              .dropdown-content.mini
                = link_to '編集する', edit_board_path(board)
                = link_to '削除する', board_path(board),data: { method: 'delete', confirm: '本当に削除してもいいですか？' }
        .card_title
          = board.name
        .card_description
          = board.description
        = image_tag 'Oval.png', class: 'icon'

  .add_new 
    .add_text
      = link_to '+Add new Board', new_board_path
        
  = link_to new_board_path do
    .float_btn
      %i.fa.fa-plus
        