<div class="container">
  <%= form_with(model: @board, url: boards_path, method: 'post', local: true) do |f| %>
  <h2>New Board</h2>
    <div>
      <%= f.label :name, 'Name' %>
    </div>
    <div>
      <%= f.text_field :name, class: 'name' %> 
    </div>
    <div>
      <%= f.label :description, 'Description' %>
    </div>
    <div>
      <%= f.text_area :description, class: 'description' %>
    </div>
    <div>
      <%= f.submit 'submit', class: 'btn' %>
    </div>
  <% end %>
</div>